body {
  margin: 0;
  padding: 0;
  font-family: 'Questrial', sans-serif;

}

header {
  color: #000;
  background-color: #fff !important;
}

@media print {
  div.headroom-wrapper, div.MuiDrawer-docked-245, div.MuiToolbar-root-45, div.MuiTablePagination-root-272, a.MuiButtonBase-root-153 {
    display:none;
  }
}